table{
    border-collapse: collapse;
}
button{
    border-radius: 25% 10%;
    background-color: blanchedalmond;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}
h1{
    font-size: 6.25rem;
}
.Introduccion{
    background-color: #00aae4;
    border-radius: 25% 10%;
    font-family: 'Sacramento', cursive;
    margin: 0 auto;
    text-align: center;
    width: 50%;

}
.Informacion{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0 auto;
    width: 50%;
}
.input_Plato{
    position: relative;
}
.table{
    margin-top: 3.125rem;
}

.table-primary{
    background-color: lightgray;
    font-size: 20px;
}